{% extends "_base.html" %}
{% load static %}

{% block head_title %}{% endblock %}

{% block body_content %}
<!-- Hero Start -->
<section class="bg-home bg-light d-flex align-items-center">
  <div class="bg-overlay bg-overlay-white"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card login-page bg-white shadow rounded border-0">
          <div class="card-body">
            <h4 class="card-title text-center">Se désinscrire</h4>
            {% include "account/form_errors.html" %}
            <form class="login-form mt-4" method="POST" action="{% url 'account_delete' %}">
              {% csrf_token %}
                <p class="text-muted">Cette opération n'est pas réversible. Vos sites générés seront perdus.</p>
                <div class="col-lg-12 mb-0 mt-3">
                  <div class="d-grid">
                    <button class="btn btn-primary">Confirmer votre désinscription ?</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!---->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Hero End -->
{% endblock %}
