<!DOCTYPE html>
<html lang="en">
{% load static %}
<head> 
<title> Eroo - générer votre site web{% block title %}{% endblock %}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Eroo - générer votre site web">
<meta name="description" content="générer votre site web à partir de votre annonce airbnb"/>
<meta name="author" content="Rémy Baranx" />
<meta name="email" content="contact@eroo.fr" />
<meta name="website" content="https://eroo.fr" />
<meta name="version" content="v0.0.1" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://eroo.fr">
<meta property="og:title" content="Eroo - générer votre site web">
<meta property="og:description" content="générer votre site web à partir de votre annonce airbnb">
<meta property="og:image" content="{% static "images/logo.png" %}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://eroo.fr">
<meta property="twitter:title" content="Eroo - générer votre site web">
<meta property="twitter:description" content="générer votre site web à partir de votre annonce airbnb">
<meta property="twitter:image" content="{% static "images/logo.png" %}">

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
<
<!-- Fontawesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

<!-- Sweet Alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js" integrity="sha256-HutwTOHexZPk7phZTEa350wtMYt10g21BKrAlsStcvw=" crossorigin="anonymous"></script>

<!-- Volt CSS -->
<link type="text/css" href="{% static "dashboard/assets/css/volt.css" %}" rel="stylesheet">

<!-- Dashboard CSS -->
<link type="text/css" href="{% static "dashboard/css/style.css" %}" rel="stylesheet">

</head>
<body>
  {% include 'dashboard/includes/sidebar.html' %} 
    
  <main class="content">

    {% block content %}{% endblock content %}

  </main>

  {% include 'dashboard/includes/scripts.html' %}

</body>
</html>
