{% extends "_base.html" %}
{% load static %}

{% block head_title %} TODO {% endblock %}

{% block body_content %}

<header id="topnav" class="defaultscroll sticky">
  <div class="container mt-3">
    {% include "logo.html" %}

    <div class="buy-button">
      <a href="{% url 'account_logout' %}" role="button" class="btn btn-outline-secondary">Se déconnecter</a>
      <a href="{% url 'account_delete' %}" role="button" class="btn btn-outline-secondary">Se désinscrire</a>
    </div>
  </div>
</header>

<section class="bg-half bg-light d-table w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h1 class="title"> Générez <span class="text-primary">votre</span> site web ! </h1>
          {% if websites|length >= MAX_WEBSITES_COUNT %}
            <h5 class="text-muted text-center pt-4">Vous avez déjà généré {{MAX_WEBSITES_COUNT}} sites. Veuillez en supprimer dans la liste ci-dessous pour pouvoir en générer de nouveaux.</h5>
        {% else %}
          <h5 class="text-muted text-center pt-4">Veuillez entrer l'URL de votre annonce airbnb</h5>

          <div class="container pt-1">
              <div class="row justify-content-center">
<!--
              <div class="col-sm-6 alert alert-danger alert-dismissible show">
                toto
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
-->
              </div>
            <form id="generate-form" method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
              {% csrf_token %}
              <div class="row justify-content-center">
                <div class="col-sm-6">
                  <input id="id_rental_url" name="rental_url" type="text" class="form-control" placeholder="exemple: https://fr.airbnb.be/rooms/123456789"
                     required="">
                </div>
                <div class="col-sm-1">
                  <button id="generate-btn" class="btn btn-primary">Générer</button>
                </div>
              </div>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!-- Hero End -->

<!-- Start Forums -->
{% if websites %}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="table-responsive bg-white shadow rounded">
          <table id="websites-table" class="table mb-0 table-center">
            <thead class="bg-light">
              <tr>
                <th scope="col" class="border-bottom text-muted" style="min-width: 300px;">Sites déjà générés</th>
                <th scope="col" class="border-bottom text-muted"></th>
              </tr>
            </thead>
            <tbody>
                {% for site in websites %}
                <tr>
                  <td>
                    <div class="d-flex">
                      <div class="flex-1 content ms-3">
                        <span class="text-muted">{{site.generated_date|date:"d/m/Y h:m"}} <span>
                        <a target="_blank" href="{{site.url}}" class="text-info fw-bold">{{site.name}}</a>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button class="website-delete-btn" data-url="{% url 'website_delete' key=site.key %}">X</button>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
  <script src="{% static 'websites/js/app.js' %}"></script>
{% endblock %}